@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fruktur&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Fruktur&display=swap');

sri{

  body{ background-repeat: no-repeat;background-size: cover;background-image:url(jab.jpeg); }


}

a{color: black;}
h3{color: #30336b}
h1{font-size: 30px;text-align:center;}
h1{font-family:bold; }
body{ background-repeat: no-repeat;background-size: cover;background-image:url(t.jpeg); }


font-family: 'Fruktur', cursive;}
table{color: blue;}
